<%= simple_form_for [@playlist.user, @playlist, Rewiew.new], remote: true do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :rating %>
    <%= f.input :comment, placeholder: 'Write your opinion' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>