<p id="notice"><%= notice %></p>

<h1>Listing Rewiews</h1>

<table>
  <thead>
    <tr>
      <th>Rating</th>
      <th>Comment</th>
      <th>User</th>
      <th>Playlist</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rewiews.each do |rewiew| %>
      <tr>
        <td><%= rewiew.rating %></td>
        <td><%= rewiew.comment %></td>
        <td><%= rewiew.user_id %></td>
        <td><%= rewiew.playlist_id %></td>
        <td><%= link_to 'Show', rewiew %></td>
        <td><%= link_to 'Edit', edit_rewiew_path(rewiew) %></td>
        <td><%= link_to 'Destroy', rewiew, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rewiew', new_rewiew_path %>
