<p id="notice"><%= notice %></p>

<p>
  <strong>Rating:</strong>
  <%= @rewiew.rating %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @rewiew.comment %>
</p>

<p>
  <strong>User:</strong>
  <%= @rewiew.user_id %>
</p>

<p>
  <strong>Playlist:</strong>
  <%= @rewiew.playlist_id %>
</p>

<%= link_to 'Edit', edit_rewiew_path(@rewiew) %> |
<%= link_to 'Back', rewiews_path %>
