<section class="user_profile edit_account">
  <div class="row">
    <%= render partial: 'shared/user_heading', locals: { user: @user } %>

    <div class="genre-profile col-md-8 col-md-offset-2 text-center">

        <div class="clearfix visible-sm-block visible-xs-block"></div>

        <%= render partial: 'shared/user_navbar', locals: { user: @user } %>


        <h2 class="follow_heading">Your settings</h2>

        <div class="row text-left">
          <div class="col-md-10 col-md-offset-1">
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f| %>
              <%= f.error_notification %>

                <div class="form-group">
                  <%= f.input :about, autofocus: true, input_html: { class: "form-control", rows: 6 }, hint: "tell us something about yourself" %></br>
                  <%= f.input :email, input_html: { class: "form-control" } %></br>
                  <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false, input_html: { class: "form-control" } %></br>
                  <%= f.input :password_confirmation, required: false, input_html: { class: "form-control" } %></br></br>

                  <div class="form-actions">
                    <%= f.button :submit, "Update", class: 'btn btn-primary btn-block' %>
                  </div>
                </div>
                
            <% end %>
            
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1 cancel_account">
            <h3>Unhappy? </h3>

            <p><%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn-danger btn-block' %></p>
          </div>
        </div>
    </div>

</section>


