<script>

var ready;
ready = function() {

  $('#genrechart').highcharts({
      chart: {
          type: 'column'
      },
      title: {
          text: ' '
      },
      xAxis: {
          type: 'category'
      },

      legend: {
        enabled: false
      },
      plotOptions: {
          series: {
              groupPadding: 0,
              borderWidth: 0,
              dataLabels: {
                  enabled: true
              }
          }
      },
      series: [{ 
          name: 'Total track',
          colorByPoint: true,
          data: <%= raw @user.sorted_tracks %>
      }],
      labels: {
        style: {
          color: '#111111'
        }
      }
  });

};

$(document).ready(ready);
$(document).on('page:load', ready);

</script>

<section class="user_profile">
  <div class="row">
    <%= render partial: 'shared/user_heading', locals: { user: @user } %>

    <div class="genre-profile col-md-8 col-md-offset-2 text-center">
    
      <% if current_user.sign_in_count == 1 && @user.last_download_playlists.blank?  && current_page?(user_path(current_user)) %>
        <p class="welcome">
          <%= t('main_site.users_show.welcome') %>
        </p>
      <% end %>


        <% if current_user == @user && @user.last_download_playlists.blank? %>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <%= link_to t('main_site.users_show.download'), 
                  import_user_playlists_path(current_user), 
                  class: 'btn btn-primary btn-block btn-lg', 
                  data: {disable_with: raw("<i class='fa fa-spinner fa-spin'></i> Downloading...")}
              %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="read_about_spolisty"><%= t('main_site.users_show.p') %></p> 
            </div>
          </div>
        <% else %>

          <div class="clearfix visible-sm-block visible-xs-block"></div>

          <%= render partial: 'shared/user_navbar', locals: { user: @user } %>


          <% if current_user.charts.empty? && current_page?(user_path(current_user)) %>

            <p class="welcome">
              <%= t('main_site.users_show.last_step_p') %>
            </p>
            <p class="welcome_body">
              <%= t('main_site.users_show.last_step_generate') %>
            </p>
            <div class="row">
              <div class="col-md-4 col-md-offset-4">
                <%= link_to t('main_site.users_show.last_step_generate_button'),
                  user_charts_path([current_user, current_user.charts.build]),
                  method: :post, 
                  class: 'btn btn-primary btn-block btn-lg',
                  data: { disable_with: raw("<i class='fa fa-spinner fa-spin'></i> Generating...")} %>
              </div>
            </div>
          <% elsif !current_user.tracks.includes(:genre).map(&:genre).any?{|n| !n.nil?} && current_user?(@user) %>

            <h2 class="lead" style="margin-top: 70px;"><%= t('main_site.users_show.cant_classify') %></h3>

          <% else %>
            <h2 class="follow_heading"><%= t('main_site.users_show.music_chart') %></h2>
            <div id="genrechart" style="width:100%; height:400px;"></div>
          <% end %>
        <% end %>

        <% if current_user?(@user) %>
          
          <h2 class="follow_heading">
            <% if @user.rank.blank? %>
              <%= t('main_site.users_show.people_like_you') %>
            <% else %>
              <%= t('main_site.users_show.people_like_you_with') %>
            <% end %>
          </h2>
          <div class="row ranked_users">
            <% if @ranked_users.blank? && @user.tracks.blank? %>
              <h2 class="lead">Add tracks to your playlist and classify your tracks to see people who listen the same music</h2>
            <% elsif @ranked_users.blank? && @classified_tracks.any?%>
              <h2 class="lead">Looks that anybody listen the same music like you</h2>
            <% elsif @ranked_users.blank?  %>
              <h2 class="lead">Classify your tracks to see people who listen the same music</h2>
            <% else %>
              <% @ranked_users.each do |u| %>
                <div id="u.id" class="col-md-2 col-sm-2 col-xs-2">
                  <%= link_to u, data: { no_turbolink: true }, "data-toggle" => "tooltip", "data-placement" => "top", "title" => u.nick, "data-viewport" => ".ranked_users" do %>
                    <%= foto(u) %>
                    <%#= image_tag(u.image, class: 'img-responsive') %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
          <% if @classified_tracks.any? %>
            <h2 class="follow_heading">
              <%= @classified_tracks.count %> <%= t('main_site.users_show.classified_music') %>
            </h2>

            <div class="row classify_tracks">
              <% @classified_tracks.sample(5).each do |tr| %>
                <div class="col-md-12 user_wrapper clearfix">
                  <div class="user_image" style="padding-left: 100px;">
                    <%= image_tag(tr.album.image, size: '90x90') %>
                  </div>
                  <div class="user_content">
                    <h2 class="user_heading">
                      <%= tr.name %>
                      <p><%= tr.album.name %></p>
                    </h2>
                    <p><%= tr.genre.name %></p>
                  </div>
                  <div class="track_playlist">
                    <%= link_to [current_user, tr.playlist] do %>
                      <i class="fa fa-list"> <%= tr.playlist.name %></i>
                    <% end %>
                  </div>
                </div>
              <% end %>

              <div class="paginacja text-center" data-no-turbolink>
                <%= will_paginate @classified_tracks, renderer: BootstrapPagination::Rails %>
              </div>
            
            </div>
          <% end %>

          <% if @unclassified_tracks.any? %>
            <h2 class="follow_heading">
              <%= @unclassified_tracks.count %> <%= t('main_site.users_show.unclassified_music') %> 
            </h2>

            <%= form_tag edit_multiple_user_tracks_path(@user), method: :get do %>
              <div class="row classify_tracks">
                <% @unclassified_tracks.sample(5).each do |tr| %>
                  <div class="col-md-12 user_wrapper clearfix">
                    <div class="check_track">
                      <%= check_box_tag "track_ids[]", tr.id %>
                    </div>
                    <div class="user_image">
                      <%= image_tag(tr.album.image, size: '90x90') %>
                    </div>
                    <div class="user_content">
                      <h2 class="user_heading">
                        <%= tr.name %>
                        <p><%= tr.album.name %></p>
                      </h2>

                      <%#= truncate(user.about, length: 70) %>
                    </div>
                    <div class="track_playlist">
                      <%= link_to [current_user, tr.playlist] do %>
                        <i class="fa fa-list"> <%= tr.playlist.name %></i>
                      <% end %>
                    </div>
                  </div>
                <% end %>
                <%= submit_tag t('main_site.users_show.edit_check'), class: 'btn' %>
              </div>

            <% end %><!-- /form -->   
            <div class="paginacja text-center" data-no-turbolink>
              <%= will_paginate @unclassified_tracks, renderer: BootstrapPagination::Rails %>
            </div>
          <% end %>          
        <% end %><!-- /if current_user?(@user) -->

        <% if @tracks.any? %>
          <div class="row">
            <div class="col-md-12 ">
              <%= link_to t('main_site.users_show.show_tracks') , '#', id: 'show_user_tracks', class: "pull-left" %>
            </div>
          </div>
          <div class="filter-tracks">
            <ul id="portfolio-filter" class="nav nav-pills nav-justified">
              <% @user.genres.uniq.each do |genre| %>
                <li><a href="#<%= genre.name %>"><%= genre.name %></a></li>
              <% end %>
            </ul>

            <ul id="portfolio-list" class="row">
              <%= render @tracks %>
            </ul> 
          </div>
        <% end %>
    </div>
  </div>
</section>
