<script>

var ready;
ready = function() {

  $('#genrechart').highcharts({
      chart: {
          type: 'column'
      },
      title: {
          text: ' '
      },
      xAxis: {
          type: 'category'
      },

      legend: {
        enabled: false
      },
      plotOptions: {
          series: {
              groupPadding: 0,
              borderWidth: 0,
              dataLabels: {
                  enabled: true
              }
          }
      },
      series: [{ 
          name: 'Total track',
          colorByPoint: true,
          data: <%= raw @user.sorted_tracks %>
      }],
      labels: {
        style: {
          color: '#111111'
        }
      }
  });

};

$(document).ready(ready);
$(document).on('page:load', ready);


  
</script>

<section class="user_profile">
  <div class="row">
    <%= render partial: 'shared/user_heading', locals: { user: @user } %>

    <div class="genre-profile col-md-8 col-md-offset-2 text-center">
      <% if current_user == @user && @user.playlists.blank? %>
        <%= link_to "Import your playlists from spotify", 
            import_user_playlists_path(current_user), 
            class: 'btn btn-primary btn-block btn-lg' 
        %>
      <% else %>

        <div class="clearfix visible-sm-block visible-xs-block"></div>

        <%= render partial: 'shared/user_navbar', locals: { user: @user } %>


        <% if current_user.charts.empty? %>
          <%= link_to "Generate Music Chart", user_charts_path([current_user, current_user.charts.build]), method: :post %>
        <% else %>
          <h3 class="musicchart_heading"><%= @user.nick %> music chart</h3>
          <div id="genrechart" style="width:100%; height:400px;"></div>
        <% end %>
      <% end %>

<!--       <%# if current_user == @user %>
  <div class="unclassify tracks">
    <h2>Your tracks with genre</h2>

    <table class="table">
      <thead>
        <tr>w
          <th>Track name</th>
          <th>Category</th>
          <th>spotify Category</th>
        </tr>
      </thead>

      <tbody>
        <%# current_user.tracks.select{|tr| !tr.genre.nil? }.each do |tr| %>
          <tr>
            <td><%#= tr.name %></td>
            <td><%#= tr.genre.name %></td>
            <td><%#= tr.spotify_genre %></td>
          </tr>
        <%# end %>
      </tbody>
    </table>              

    <h2>Your tracks without genre</h2>

    <table class="table">
      <thead>
        <tr>w
          <th>Track name</th>
          <th>Category</th>
          <th>spotify category</th>
        </tr>
      </thead>

      <tbody>
        <%# current_user.tracks.select{|tr| tr.genre.nil? }.each do |tr| %>
          <tr>
            <td><%#= tr.name %></td>
            <td>Brak kategorii</td>
            <td><%#= tr.try(:spotify_genre) %></td>
          </tr>
        <%# end %>
      </tbody>
    </table>

  </div>/unclassify tracks
<%# end %>/if current_user == @user -->
      <ul id="portfolio-filter">
        <% @user.genres.uniq.each do |genre| %>
          <li><a href="#<%= genre.name %>"><%= genre.name %></a><li>
        <% end %>

      </ul>
      <ul id="portfolio-list">
        <% @tracks.each do |tr| %>
          <li class="<%= tr.genre.name %>"><%= tr.name %></li>
        <% end %>
      </ul>

      
      <%= render template: 'genres/show' %>
    </div>
  </div>
</section>
