<section id="user_profile">
  <div class="row">
    <div class="main_user col-md-8 col-md-offset-2">
        <div class="pull-left hidden-xs hidden-sm">
          <%= foto(@user) %>
        </div>
        <div class="profile-text pull-right">
          <%= @user.name? ? @user.name : @user.email %>
          <p class="traveler text-center"><span>Trance Explorer</span></p>
          <p><%= link_to "Follow", '#', class: 'btn btn-primary btn-small btn-block' %></p>
        </div>
    </div>        <%= link_to "Import your playlists from spotify", 
            import_user_playlists_path(current_user), 
            class: 'btn btn-primary btn-block btn-lg' %>

    <div class="genre-profile col-md-8 col-md-offset-2 text-center">
      <% if current_user == @user && @user.playlists.blank? %>
        <%= link_to "Import your playlists from spotify", 
            import_user_playlists_path(current_user), 
            class: 'btn btn-primary btn-block btn-lg' %>

      <% else %>

        <div class="clearfix visible-sm-block visible-xs-block"></div>
        <ul class="nav nav-tabs" role="tablist" id="usernav">
          <li role="presentation" class="col-md-3 col-sm-3 col-xs-3 genre">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
            <i class="fa fa-user"></i> Home</a>
          </li>
          <li role="presentation" class="active col-md-3 col-sm-3 col-xs-3 playlist">
            <a href="#user_pl" aria-controls="user_pl" role="tab" data-toggle="tab">
            <i class="fa fa-user"></i> Playlists</a>
          </li>
          <li role="presentation" class="col-md-3 col-sm-3 col-xs-3 messages">
            <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
            <i class="fa fa-user"></i> Messages</a>
          </li>
          
          <li role="presentation" class="col-md-3 col-sm-3 col-xs-3 settings">
            <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">
            <i class="fa fa-user"></i> Settings</a>
          </li>
        </ul>

        <div class="tab-content">
          <div role="tabpanel" class="tab-pane" id="home">
            <% if current_user && @user.chart.blank? %>
              <%= link_to "Generate Music Chart", user_chart_index_path([current_user, @chart]), method: :post %>
            <% else %>
              <div id="genrechart" style="width:100%; height:400px;"></div>
            <% end %>
          </div>
          <div role="tabpanel" class="tab-pane active" id="user_pl">
            <%= render partial: "playlists" %>
          </div>
          <div role="tabpanel" class="tab-pane" id="messages">
            tracks
          </div>
          <div role="tabpanel" class="tab-pane" id="settings">
          ..1221.
          </div>
        </div>

      <% end %>
    </div>
  </div>
</section>
<% genrecat = Genre.pluck(:name) %>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script>
$(function () {

    $('#genrechart').highcharts({

        chart: {
            polar: true,
            type: 'line',
            margin: 0
        },

        exporting: {
            enabled: false,
            buttons: {
                enabled: false
            }
        },

        title: {
            text: "<%= @user.nick %>",
            useHTML: true
        },

        pane: {
            size: '80%'
        },

        xAxis: {
            categories: <%= raw genrecat %>,
            tickmarkPlacement: 'on',
            lineWidth: 0,
            labels: {
                align: 'center',
                distance: 2
            }
        },

        yAxis: {
            gridLineInterpolation: 'polygon',
            lineWidth: 1,
            min: 0,
            max: 60,
            endOnTick: true,
            showLastLabel: true,
            tickPositions: <%= (0..55).step(5).to_a %>
        },

        tooltip: {
            shared: true,
            headerFormat: '<span style="font-size: 12px">{point.key}:</span>&nbsp;&nbsp;<b>{point.y:,.2f}</b>',
            pointFormat: '',
            useHTML: true
        },

        legend: {
            enabled: false,
            align: 'right',
            verticalAlign: 'top',
            y: 70,
            layout: 'vertical'
        },

        series: [{
            name: '',
            data: <%= Genre.all.map {|ge| @user.tracks.where(genre: ge).count }.reject! {|c| c < 1} %>,
            pointPlacement: 'on'
        }]

    });
});
</script>
