<header id="nav-content" class="vertical-nav nav-black">

  <div class="my-logo">
    <a href="<%= root_path %>">SPOLISTY</a>
  </div>

  <ul class="menu nav me-nav">
    <li class="active">
      <%= link_to current_user, class: 'standard-menu-item', data: { no_turbolink: true } do %>
        <i class="fa fa-user"></i> <span class="nav-text">Home</span>
      <% end %>

    </li>

    <li>
      <%= link_to best_playlists_path, class: 'standard-menu-item' do %>
       <i class="fa fa-desktop"></i> <span class="nav-text">Playlists</span>
      <% end %>
    </li> 

    <li>
      <%= link_to genres_path, "data-toggle" => "tooltip", "data-placement" => "right", "title" => "Logout", class: 'standard-menu-item' do %>
        <i class="fa fa-comment"></i> <span class="nav-text">Genres</span>
      <% end %>
    </li>

    <li>
      <%= link_to users_path, class: 'standard-menu-item' do %>
        <i class='fa fa-pencil'></i> <span class="nav-text">Users</span>
      <% end %>
    </li>

    <li>
      <%= link_to user_conversations_path(current_user), class: 'standard-menu-item' do %>
        <i class="fa fa-phone"></i> <span class="nav-text">Messages</span>
      <% end %>
    </li>
    <li>
      <%= link_to '#', class: 'standard-menu-item' do %>
        <i class="fa fa-phone"></i> <span class="nav-text">Quide</span>
      <% end %>
    </li>
    <li>
      <%= link_to current_user, id: "current_user_link", data: { no_turbolink: true } do %>
        <span clss="profile-img"><%= foto(current_user) %></span>
      <% end %>
      <%= link_to destroy_user_session_path, id: 'logout', "data-toggle" => "tooltip", "data-placement" => "right", "title" => "Logout", method: :delete do %>
        <i class="fa glyphicon glyphicon-log-out"></i>
      <% end %>
    </li>
  </ul>
</header>
