<header id="nav-content" class="vertical-nav nav-black">

  <div class="my-logo">
    <a href="#profile">SPOLISTY</a>
  </div>

  <ul class="menu nav me-nav">
    <li class="active">
      <a href="<%= root_path %>" class="standard-menu-item"><i class="fa fa-user"></i> <span class="nav-text">Home</span></a>
    </li>

    <li>
      <%= link_to root_path(anchor: "resume"), class: 'standard-menu-item' do %>
        <i class='fa fa-pencil'></i> <span class="nav-text">O mnie</span>
      <% end %>
    </li>

    <li>
      <%= link_to root_path(anchor: "blog"), class: 'standard-menu-item' do %>
        <i class="fa fa-comment"></i> <span class="nav-text">Ostatnie posty</span>
      <% end %>
    </li>

    <li>
      <%= link_to root_path(anchor: "mikroblog"), class: 'standard-menu-item' do %>
       <i class="fa fa-desktop"></i> <span class="nav-text">Imgur images</span>
      <% end %>
    </li> 

    <li>
      <%= link_to root_path(anchor: "contact"), class: 'standard-menu-item' do %>
        <i class="fa fa-phone"></i> <span class="nav-text">Kontakt</span>
      <% end %>
    </li>
    <li>
         

      <%= link_to current_user do %>
        <span clss="profile-img"><%= image_tag @user.image, class: 'img-circle' %></span>
      <% end %>

      <%= link_to destroy_user_session_path, id: 'logout', method: :delete do %>
        <i class="fa glyphicon glyphicon-log-out"></i>
      <% end %>

    </li>
  </ul>

            <%#= link_to "Logout", destroy_user_session_path, method: :delete %>
  <!-- Copyright 
  <span class="copyright hidden-md">© <%#= Time.now.year %> <b>Tomasz Panek</b>.</span>
  -->
</header>
