<header id="nav-content" class="vertical-nav nav-black">

  <div class="my-logo">
    <%= link_to "SPOLISTY", root_url, data: { no_turbolink: true } %>
  </div>

  <ul class="menu nav me-nav">
    <li>
      <%= link_to best_playlists_path, class: 'standard-menu-item' do %>
       <i class="fa fa-music"></i> <span class="nav-text"><%= t('main_site.leftnav.playlist') %></span>
      <% end %>
    </li> 

    <li>
      <%= link_to genres_path, class: 'standard-menu-item' do %>
        <i class="fa fa-globe"></i> <span class="nav-text"><%= t('main_site.leftnav.genres') %></span>
      <% end %>
    </li>

    <li>
      <%= link_to users_path, class: 'standard-menu-item' do %>
        <i class="fa fa-users"></i> <span class="nav-text"><%= t('main_site.leftnav.users') %></span>
      <% end %>
    </li>

    <li>
      <%= link_to user_conversations_path(current_user), class: 'standard-menu-item' do %>
        <i class="fa fa-comments-o"></i> <span class="nav-text"><%= t('main_site.leftnav.msg') %></span>
      <% end %>
    </li>
    <li>
      <%= link_to faqs_path, class: 'standard-menu-item' do %>
        <i class="fa fa-question"></i> <span class="nav-text"><%= t('main_site.leftnav.htw') %></span>
      <% end %>
    </li>
    <li>
      <%= link_to current_user, id: "current_user_link", data: { no_turbolink: true } do %>
        <span clss="profile-img"><%= foto(current_user) %></span>
      <% end %>
      <%= link_to destroy_user_session_path, id: 'logout', "data-toggle" => "tooltip", "data-placement" => "right", "title" => "Logout", method: :delete do %>
        <i class="fa fa-power-off"></i>
      <% end %>
    </li>
  </ul>
</header>
