<div class="main_user">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="pull-left hidden-xs hidden-sm">
        <%= foto(user) %>
      </div>
      <div class="profile-text pull-right">
        <%= user.name? ? user.name : user.email %>
        <p class="traveler text-center"><span><%= user.rank_explorer %></span></p>
        <div class="stats text-center">
          <p id="following"><%= link_to user.following.count, following_user_path(user) %> following</p>
          <p id="followers"><%= link_to user.followers.count, followers_user_path(user) %> followers</p>
        </div>
        
        <% unless current_user?(user) %>
          <% if current_user.following?(user) %>
            <%= render 'shared/unfollow', :user => user %>
          <% else %>
            <%= render 'shared/follow' %>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      </br>
      About yourself:
      <blockquote>
        <% if user.about.nil? && user == current_user %>
          <p class="lead">Tell us something about yourself. Go to the settings site.</p>
        <% elsif user.about.nil? %>
          <p class="lead">This user didn't say anything about yourself</p>
        <% else %>
          <p class="lead">
            <%= user.about %>
          </p>
        <% end %>
      </blockquote>
    </div>
  </div>
</div>
