<ul class="nav nav-tabs usernav" role="tablist">
  <li role="presentation" class="<%= is_active?(user_path(user)) %> col-md-3 col-sm-3 col-xs-3 genre">
    <%= link_to user_path(user), data: { no_turbolink: true } do %>
       <i class="fa fa-user"></i> User</a>
    <% end %>
  </li>
  <li class="<%= is_active?(user_playlists_path(user)) %> col-md-3 col-sm-3 col-xs-3 playlist">
    <%= link_to user_playlists_path(user) do %>
       <i class="fa fa-headphones"></i> Playlists</a>
    <% end %>
  </li>

  <li class="<%= is_active?(user_conversations_path(user)) %> col-md-3 col-sm-3 col-xs-3 playlist">
    <%= link_to user_conversations_path(user) do %>
       <i class="fa fa-comments-o"></i> Messages</a>
    <% end %>
  </li>

  <li class="<%= is_active?(edit_user_registration_path(user)) %> col-md-3 col-sm-3 col-xs-3 playlist">
    <%= link_to edit_user_registration_path(user) do %>
      <i class="fa fa-cogs"></i> Your Settings</a>
    <% end %>
  </li>

</ul>