<div class="main_user col-md-8 col-md-offset-2">
    <div class="pull-left hidden-xs hidden-sm">
      <%= foto(user) %>
    </div>
    <div class="profile-text pull-right">
      <%= user.name? ? user.name : user.email %>
      <p class="traveler text-center"><span><%= user.rank_explorer %></span></p>
      <p><%= link_to "Follow", '#', class: 'btn btn-primary btn-small btn-block' %></p>
    </div>
    <div class="row">
      <div class="col-md-12">
      </br>
      About yourself:
        <blockquote>
          <% if user.about.nil? %>
            <p class="lead">This user didn't say anything about yourself</p>
          <% else %>
            <p class="lead">
              <%= user.about %>
            </p>
          <% end %>
        </blockquote>
      </div>
    </div>
</div>