%section#faq
  %nav.navbar.navbar-default.navbar-fixed-top{ :role => "navigation" }
    .container
      .navbar-header
        %button.navbar-toggle.collapsed{:type=>"button", "data-toggle" => "collapse", "data-target" => "#bs-example-navbar-collapse-1"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to "SPOLISTY", root_path, class: 'navbar-brand'

      .collapse.navbar-collapse#menu-navbar
        %ul.nav.navbar-nav.navbar-right
          %li
            = link_to "FAQ", faqs_path
          - if user_signed_in?  
            %li
              = link_to t('main_site.header.sign_out'), destroy_user_session_path, method: :delete

  .container.question
    .row.title
      .col-md-12.text-center
        %h2= t('main_site.faq.head') 
        %hr
    .row.answers
      .col-md-12
        %ul
          %li
            %h3= t('main_site.faq.firstq')
            %p= t('main_site.faq.firsta')
          %li
            %h3= t('main_site.faq.secondq')
            %p= t('main_site.faq.seconda')
          %li
            %h3= t('main_site.faq.thirdq')
            %p= t('main_site.faq.thirda')
          %li
            %h3= t('main_site.faq.fourthq')
            %p= t('main_site.faq.fourtha')
          %li
            %h3= t('main_site.faq.fifthq')
            %p= t('main_site.faq.fiftha')
          %li
            %h3= t('main_site.faq.sixq')
            %p= t('main_site.faq.sixa')