<!-- HEADER -->
<section id="header">
	<!-- Center text -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title">
				<h4></h4>
				</div>
			</div>
		</div>
	</div>
	<!-- /container -->
</section>


<!-- Call to action -->
<section id="cta">
	<div class="container">
		<div class="row">
			<div class="join">
				<div class="col-md-6 col-sm-12">
					<p class="lead">Explore your music with friends</p>
				</div>
				<div class="col-md-6 col-sm-12">
					<%= link_to "CONNECT WITH SPOTIFY", '#', class: "btn btn-primary btn-cta" %>	
				</div>
			</div><!-- /join -->
		</div><!-- /row -->
	</div><!-- /container -->
</section>

<!-- Features -->
<!-- 
Słuchaj Muzyki

Analizuj rodzaj słuchanej muzyki

Odkrywaj interesującą cię muzykę

Poznawaj ludzi o zbliżonym guście
 -->

<section id="features">
	<div class="container">
		<div class="row">
			<div class="item text-center">
				<div class="col-md-3 col-sm-6">
					<img src="http://lorempixel.com/245/184" alt="">
					<p>Słuchaj Muzyki</p>
				</div>
				<div class="col-md-3 col-sm-6">
					<img src="http://lorempixel.com/245/184" alt="">
					<p>Analizuj rodzaj słuchanej muzyki</p>
				</div>
				<div class="col-md-3 col-sm-6">
					<img src="http://lorempixel.com/245/184" alt="">
					<p>Odkrywaj muzykę z kręgu Twoich zainteresowań</p>
				</div>
				<div class="col-md-3 col-sm-6">
					<img src="http://lorempixel.com/245/184" alt="">
					<p>Poznawaj ludzi o zbliżonym guście muzycznym</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Opis -->

<section id="description">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center">Co Ci w duszy gra?</h2>
			</div>
			<div class="col-md-12">
				<div class="description-text">
					<p class="text-center">
						Spolisty analizuje Twoje playlisty pod kątem słuchanej muzyki.
					</p>
					<p class="text-center">
						Zebrane dane są przedstawione za pomocą interesującego grafu, obrazującego ilość piosenek z Twoich playlist z danego gatunku muzycznego.
					</p>
					<p class="text-center"> 
						Dzięki Spolisty możesz poznawać ludzi z podobną do Ciebie duszą muzyczną oraz dzielić się z nimi odkrytą muzyką.
					</p>
				</div>
			</div>
		</div>
	</div>
		
</section>
<!-- CALL TO ACTION Center -->
<section id="cta2">
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="text-center">
				<h2>Explore your music</h2>
				<%= link_to "CONNECT WITH SPOTIFY", '#', class: "btn btn-primary btn-cta" %>
			</div>
		</div>
	</div>
</div>
	
</section>


<!-- Subskrypcja -->

<section id="sub">
	<div class="container">
		<div class="row">
			<div class="col-md-6 text-center">
				<h2>Join our newsletter.</h2>
				<p>Be the first to hear about new product features </p>
			</div>
			<div class="col-md-6">
				<%= form_tag('/emailapi/subscribe', method: "post", id: "subscribe", remote: "true") do -%>
				<div class="form-group">

					 <%= email_field(:email, :address, 
					 {
						id: "email",
						placeholder: "Write your email",
						class: 'form-control'
						 }) %>
					 <%= submit_tag "Subscribe", class: "btn btn-primary btn-block" %>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</section>