<% if user_signed_in? %>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			JESTES ZALOGOWANY
			<p>Name: <%= current_user.name %></p>
	    <p>EMail: <%= current_user.email %></p>
		  <p>Username: <%= current_user.username %></p>
      <p>Image: <%= current_user.image %></p>
      <p>HAsh: <%= current_user.spotify_hash %></p>
		</div>
		<div class="col-md-12">
			<%= link_to "wyloguj", destroy_user_session_path, method: :delete %>
		</div>
	</div>
</div>
<% else %>
	<%= render partial: "menu" %>

	<%= render partial: "header" %>

	<%= render partial: "main_cta" %>

	<%= render partial: "features" %>

	<%= render partial: "description" %>

	<%= render partial: "cta" %>

	<%= render partial: "sub" %>
<% end %>
