.users_wrapper.best_playlists
  %h2.heading= t('main_site.playlists.title')
  - @playlists.each_with_index do |p, index|
    = link_to user_playlist_path(p.user, p) do
      .row
        .col-md-12.etet
          %div{:id => p.name, :class => "user"}
            .row
              .col-md-1.col-sm-1.col-xs-6.playlist_position
                = index + 1
              .col-md-2.col-sm-2.col-xs-6
                = image_tag p.image, size: "90"
              .col-md-4.col-sm-4.col-xs-6.playlist_name.hidden-xs
                = p.name
              .col-md-3.col-sm-3.col-xs-3.playlist_owner.hidden-xs
                = p.user.nick
              .col-md-2.col-sm-2.col-xs-3.hidden-xs.playlist_rat
                .score
                  = p.reviews.average(:rating).round(2)
                  %p 
                    Based on 
                    = pluralize(p.reviews.count, 'review')