<div class="playlist_wrapper">
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <%= image_tag @playlist.image, class: "img-responsive" %>
    </div>

    <div class="col-md-8">
      <p>PLAYLIST</p>
      <div class="playlist_name">
        <%= @playlist.name %>
      </div>
    </div>
  </div>

  <div class="row">
    <div clas="col-md-12">
        <div class="container">
      <nav class="navbar navbar-default navbar-fixed-bottom text-center">
        <% unless @playlist.tracks.blank? %>
          <iframe src="https://embed.spotify.com/?uri=spotify:trackset:<%= @playlist.name %>:<%= @playlist.tracks.first.track_number %>" frameborder="0" allowtransparency="true"></iframe> 
        <% end %>      
      </nav>
        </div>
    </div>    
  </div>
  <div class="row">
    <div class="col-xs-10 col-md-10 col-md-offset-1">
      <div class="playlist_info">
        <h3 class="createdby">
          Playlist created by: <%= link_to @playlist.user.nick, @playlist.user %> 
          <i class="fa fa-music"></i>
          <%= @playlist.tracks.any? ? pluralize(@playlist.tracks.size, "song") : 0 %>
          <i class="fa fa-clock-o"></i>
          <%= @playlist.total_tracks_duration %>
        </h3>
        <% if current_user == @playlist.user %>
          <p><%= link_to "Send your playlist to spotify",  export_user_playlist_path(current_user, @playlist), class: 'btn btn-primary' %></p>
        <% end %>
      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <td>Track Name</td>
            <td>Artist</td>
            <td>Album</td>
            <td>Time</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <% @playlist.tracks.each do |tr| %>
            <tr class="trackline" data-tracknumber="https://embed.spotify.com/?uri=spotify:trackset:<%= @playlist.name %>:<%= tr.track_number %>">
              <td><%= tr.name %></td>
              <td><%= tr.try(:artist).try(:name) %></td>
              <td><%= tr.try(:album).try(:name) %></td>
              <td><%= tr.try(:track_duration) %></td>
              <% if current_user == @playlist.user %>
                <td><%= link_to 'remove track', user_track_path(current_user, tr), method: :delete, data: { confirm: "Do you want delete this track?" } %></td>
              <% else %>
                <td class="<%= tr.name %>">
                  <%= link_to  addtrack_user_track_path(current_user, tr), method: :post do %>
                    add_track
                   <!--  <i class="fa fa-plus"></i> -->
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>

      <% if current_user == @playlist.user %>
        <%= link_to "Destroy", user_playlist_path, method: :delete, data: { confirm: "Do you want deleted this playlist? This action don't deleted this playlist from spotify app" }, class: 'btn btn-primary' %>
      <% end %>
      <%= link_to "Back", :back, class: 'btn btn-primary' %>
    </div>
  </div>  
</div>