<div class="row">
  <div class="col-md-2">
    <%= image_tag @playlist.image, class: "img-responsive" %>
  </div>

  <div class="col-md-10">
    <p>PLAYLIST</p>
    <%= @playlist.name %>
  </div>
</div>
  <h2>Playlist <%= @playlist.id %></h2>
  <% @playlist.tracks.each do |tr| %>

    <p><%= tr.name %></p>

  <% end %>

  <%= link_to "Back", :back, class: 'btn btn-primary' %>
  <%= link_to "Destroy", user_playlist_path, method: :delete, data: { confirm: "are You sure?"} %>