<!DOCTYPE html>
<html>
<head>
  <title>Spolisty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Cache-control" content="public">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Tomasz Panek - personal site">
	<meta name="keywords" content="ruby on rails, ruby, responsive, one page, bootstrap, personal page">
	<meta name="author" content="Panczo">
  <!--[if lt IE 9]>
    <%= javascript_include_tag 'html5shiv-printshiv' %>
  <![endif]-->
  

    <%= analytics_init if Rails.env.production? or Rails.env.development? %></head>
<body>

  <%= render partial: "shared/analytics" %>

  <%= bootstrap_flash %>

  <%= yield %>

</body>
</html>
